pkgbase = zoom
	pkgdesc = Zoom video conferencing (first-party, GPG-verified official rpm)
	pkgver = 0
	pkgrel = 1
	url = https://zoom.us/
	arch = x86_64
	license = LicenseRef-zoom
	makedepends = rpm-tools
	depends = fontconfig
	depends = glib2
	depends = libpulse
	depends = libsm
	depends = ttf-font
	depends = libx11
	depends = libxtst
	depends = libxcb
	depends = libxcomposite
	depends = libxfixes
	depends = libxi
	depends = libxcursor
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = libxrender
	depends = libxshmfence
	depends = libxslt
	depends = mesa
	depends = nss
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-cursor
	depends = dbus
	depends = libdrm
	depends = gtk3
	depends = xcb-util-wm
	optdepends = pulseaudio-alsa: audio via PulseAudio
	optdepends = ibus: remote control
	optdepends = noto-fonts-emoji: emojis
	options = !strip
	source = zoom-pubkey.key
	sha256sums = f4482a48ba574e6a0dcfb0fddae2da8f352abea63f21f6c355b8bca3169c39e8

pkgname = zoom
